@use "../Settings" as *;

html {
    font-size: 17px;
  }
  @media (max-width: 900px) {
    html { font-size: 15px; }
  }
  @media (max-width: 400px) {
    html { font-size: 13px; }
  }

body {
    color: $primary-text-color;
    font-size: $root-font-size;
    background: $background-color;
}