@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 16px;
}
@media (max-width: 379px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 380px) and (max-width: 739px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 740px) and (max-width: 959px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 24px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #FFF;
  padding: 0.5em 1em;
}
@media (min-width: 380px) and (max-width: 739px) {
  body {
    padding: 1em 2em;
  }
}
@media (min-width: 740px) and (max-width: 959px) {
  body {
    padding: 1.5em 3em;
  }
}
@media (min-width: 960px) {
  body {
    padding: 2em 10vw;
  }
}
body:after {
  content: "";
  display: block;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at center, #000000 -50%, #141414 100%);
  z-index: -1;
}

.header__categories ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header__categories ul .flex-item {
  flex: 1 1 auto;
  text-align: center;
}
@media (min-width: 740px) {
  .header__categories ul .flex-item:nth-child(1) {
    padding-right: 5px;
  }
  .header__categories ul .flex-item:nth-child(2) {
    padding: 0 5px;
  }
  .header__categories ul .flex-item:nth-child(3) {
    padding-left: 5px;
  }
}
.header__categories ul .flex-item a {
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 300px) {
  .header__categories ul .flex-item a {
    margin: 0 2px;
  }
}
@media (min-width: 300px) {
  .header__categories ul .flex-item + .flex-item {
    border-left: 1px solid white;
  }
}

.header__orderBy a {
  text-decoration: none;
  white-space: nowrap;
}
.header__orderBy a .header__orderBy__titleFilterIcon, .header__orderBy a .header__orderBy__dateFilterIcon {
  vertical-align: middle;
}
.header__orderBy a .header__orderBy__titleFilterIcon {
  font-family: serif;
  color: #FFF;
  text-decoration: none;
}
.header__orderBy a .header__orderBy__dateFilterIcon {
  display: inline-block;
  background: url(assets/calendar_month_white_24dp.svg) no-repeat center;
}
.header__orderBy a .header__orderBy__filterTitle {
  text-decoration: underline;
}

.header__orderBy_Layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;
}
.header__orderBy_Layout p {
  margin-right: 30px;
}
.header__orderBy_Layout nav a:first-child {
  margin-right: 1em;
}
.header__orderBy_Layout a .header__orderBy__titleFilterIcon {
  font-size: 1.5em;
}
.header__orderBy_Layout a .header__orderBy__dateFilterIcon {
  height: 1.5em;
  width: 1.5em;
  background-size: 1.5em;
}

.header__search {
  border: none;
}
.header__search > input[type=search] {
  border: 1px solid #FFF;
  border-radius: 30px;
  display: block;
  background: url(assets/search.svg) no-repeat 0.7em center;
  background-size: 1.3em;
  background-color: #FFF;
}
.header__search > input[type=search]:focus {
  box-shadow: 0 0 3px 0 #60eca6;
  border-color: #60eca6;
  outline: none;
}

.header__search_Layout {
  padding: 0;
}
.header__search_Layout > input[type=search] {
  width: 20em;
  padding: 10px 15px 10px 2.5em;
}
@media (max-width: 379px) {
  .header__search_Layout > input[type=search] {
    width: 100%;
  }
}

.header__title {
  text-align: center;
}
.header__title span {
  font-family: "Marcellus", serif;
  background: linear-gradient(to right, #bfedc0 10%, #90d192 25%, #57d75b 50%, #90d192 75%, #bfedc0 90%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #FFF;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
}

.header__title_Layout {
  font-size: 2.5rem;
}
.header__title_Layout img {
  height: 1em;
  width: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.header .container:first-child {
  align-items: center;
}
@media (min-width: 740px) {
  .header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header .container:nth-child(2) .orderBy-divider {
    display: none;
  }
}
.header a {
  color: #60eca6;
}

.header_Layout .container {
  width: 100%;
}
.header_Layout hr {
  margin-left: 0;
  margin-right: 0;
}
.header_Layout hr.large-screen-divider {
  display: none;
  width: 100%;
}
@media (min-width: 740px) {
  .header_Layout hr.large-screen-divider {
    display: block;
  }
}