@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap");
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@media (max-width: 319px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 739px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 740px) and (max-width: 959px) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}

body {
  color: #FFF;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
body:after {
  content: "";
  display: block;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(circle at center, #2a3a06 -50%, #202a1d 100%);
  z-index: -1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__categories a {
  color: #b4f999;
}
.header__categories ul {
  list-style: none;
  padding: 0;
}

.header__title {
  text-align: center;
}
.header__title img {
  height: 1.7rem;
  width: auto;
}
.header__title span {
  font-family: "Marcellus", serif;
  background: linear-gradient(to right, #095fab 10%, #25abe8 25%, #57d75b 50%, #25abe8 75%, #095fab 90%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #FFF;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s linear infinite;
}