@use "../Settings" as *;

// A map of breakpoints.
@mixin breakpoint($breakpoint, $direction) {
  @if map-has-key($breakpoints, $breakpoint) {
  // Get the breakpoint value.
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @if $direction == max {
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else if $direction == min {  
    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @media ($direction: $breakpoint-value) {
      @content
    }
  };
  
  // If the breakpoint doesn't exist in the map.
  } @else {
    @if $direction == max {
      @media (max-width: $breakpoint) {
        @content;
      }
    } @else if $direction == min {  
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else {
      @media ($direction: $breakpoint) {
        @content
      }
    };
  };
};