//************* Fonts Settings *************//
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
$title-font: 'Marcellus', serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$main-font: 'Poppins', sans-serif;

$root-font-size: (
  small: 14,
  mobile: 16,
  tablet: 17,
  medium: 18,
  large: 20,
  x-large: 24
); //Just set the NUMBER, not the "px" string (because "rem-calc()" function)

$primary-text-color: #FFF;
$secondary-text-color: #60eca6;

///////////////////////////////////////////////

$linear-title-color: linear-gradient(to right,#095fab 10%, #25abe8 25%, #57d75b 50%, #25abe8 75%, #095fab 90%);
$background-color: radial-gradient(circle at center, #2a3a06 -50%, #202a1d 100%);

$breakpoints: (
  mobile: 320px,
  tablet: 740px,
  medium: 960px,
  large: 1200px,
  x-large: 1600px
);
