$root-font-size: (
  mobile: 16,
  tablet: 18,
  medium: 20,
  large: 22,
  x-large: 24
); //Just set the NUMBER, not the "px" string (because "rem-calc()" function)

$primary-text-color: #FFF;
$background-color: radial-gradient(circle at center, #161a0d 0%, #093000 100%);

$breakpoints: (
  mobile: 320px,
  tablet: 740px,
  medium: 960px,
  large: 1200px,
  x-large: 1600px
);
