//************* Fonts Settings *************//
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
$title-font: 'Marcellus', serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
$main-font: 'Poppins', sans-serif;

$root-font-size: (
  small: 14,
  mobile: 16,
  tablet: 17,
  medium: 18,
  large: 20,
  x-large: 24
); //Just set the NUMBER, not the "px" string (because "rem-calc()" function)

$linear-title-color: linear-gradient(to right, #bfedc0 10%, #90d192 25%, #57d75b 50%, #90d192 75%, #bfedc0 90%);
$primary-text-color: #FFF;
$secondary-text-color: #60eca6;

///////////////////////////////////////////////

$background-color: radial-gradient(circle at center, #000000 -50%, #141414 100%);
$light-color: #FFF;

$breakpoints: (
  mobile: 380px,
  tablet: 740px,
  medium: 960px,
  large: 1200px,
  x-large: 1600px
);
