$primary-text-color: #FFF;
$background-color: radial-gradient(circle at center, #161a0d 0%, #093000 100%);

$breakpoints: (
    mobile: 320px,
    tablet: 740px,
    medium: 960px,
    large: 1200px,
    x-large: 1600px
);
