@use "sass:map";
@use "../Settings" as *;
@use "../Tools" as *;


 *{
  box-sizing: border-box;
 }

html {
  font-size: 16px; //in case that browser doesn't support "rem"

  //set the Font-size for each viewport
  
  @include breakpoint(mobile, max){
    font-size: map.get($root-font-size, "small") + px;
  };
  
  @include breakpoint(mobile, min){
    @include breakpoint(tablet, max){
    font-size: map.get($root-font-size, "mobile") + px;
    };
  };

  @include breakpoint(tablet, min){
    @include breakpoint(medium, max){
      font-size: map.get($root-font-size, "tablet") + px;
    };
  };

  @include breakpoint(medium, min){
    @include breakpoint(large, max){
      font-size: map.get($root-font-size, "medium") + px;
    };
  };

  @include breakpoint(large, min){
    @include breakpoint(x-large, max){
    font-size: map.get($root-font-size, "large") + px;
    };
  };
  
  @include breakpoint(x-large, min){
    font-size: map.get($root-font-size, "x-large") + px;
  };
}

body {
  @include font($main-font, 400);
  color: $primary-text-color;
  padding: 0.5em 1em;

  @include breakpoint(mobile, min){
    @include breakpoint(tablet, max){
      padding: 1em 2em;
    };
  };

  @include breakpoint(tablet, min){
    @include breakpoint(medium, max){
      padding: 1em 3em;
    };
  };

  @include breakpoint(medium, min){
    padding: 1em 10vw;
  }

  //fix the Background gradient-color
  &:after{
    content: "";
    display: block;
    background-attachment: fixed;
    position: fixed;
    top:0; left:0;
    height: 100%;
    width: 100%;
    background: $background-color;
    z-index:-1;
  }
  //
}