@use "../foward" as *;

.header__title{
	text-align: center;

  span {
    font-family: $title-font;
    background: $linear-title-color;
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: $primary-text-color;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 5s linear infinite;
  }
}

.header__title_Layout{
	font-size: 2.5rem;
	margin: 0.3em 0px;

	img{
		height: 1em;
		width: auto;
	}
}