@use "../foward" as *;

.header {
  display: flex;
  transition: display 0.1s linear;
  flex-direction: column;

  [class^="container"]{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @include breakpoint(tablet, min){
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .orderBy-divider{
        display: none;
      }
    };
  }

  .container-1{
    align-items: center;
  }
  // .container-2{
  //   @include breakpoint(tablet, min){
  //     display: grid;
  //     grid-auto-flow: column;
  //   }
  // }

  .container-orderByAndFavorites{
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(tablet, min){
      justify-content: flex-end;
    }
  }

  .container-categories{
    @include breakpoint(tablet, min){
      flex-direction: column;
    }
  }

  a{
    color: $secondary-text-color;

    &:hover{
      background-color: rgb(255 255 255 / 20%);
      border-radius: 0.5em;
    }
  }
}

.header_Layout{
  .container{
    width: 100%;
  }

  hr {
    margin-left: 0;
    margin-right: 0;
  }

  hr.large-screen-divider{
    display: none;
    width: 100%;

    @include breakpoint(tablet, min){
      display: block;
    }
  }
}