@use "../foward" as *;

.header__orderBy{

  a{
    text-decoration: none;
    white-space: nowrap;

    .header__orderBy__titleFilterIcon, .header__orderBy__dateFilterIcon{
      vertical-align: middle;
    }

    .header__orderBy__titleFilterIcon{
      font-family: serif;
      color: $primary-text-color;
      text-decoration: none;
    }

    .header__orderBy__dateFilterIcon{
      display: inline-block;
      background: url(assets/calendar_month_white_24dp.svg) no-repeat center;
    }

    .header__orderBy__filterTitle{
      text-decoration: underline;
    }
  }

}

.header__orderBy_Layout{
  display: flex;
  align-items: center;
  justify-content: space-between;

  a{
    .header__orderBy__titleFilterIcon{
      font-size: 1.5em;
    }

    .header__orderBy__dateFilterIcon{
      $dateFilterIcon-size: 1.5em;

      height: $dateFilterIcon-size;
      width: $dateFilterIcon-size;
      background-size: $dateFilterIcon-size;
    }
  }
}