@use "../foward" as *;

.header__categories{
  
  ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .flex-item {
      flex: 1 1 auto;
      text-align: center;

      a{
        margin: 0 2px;
      }
    }

    @include breakpoint(300px, min){
      .flex-item + .flex-item {
        border-left: 1px solid white;
      }
    }
  }
}
