@forward "general";
@forward "header__categories";
@forward "header__orderBy";
@forward "header__search";
@forward "header__title";
@forward "header";
@forward "loading";
@forward "newsList__news";
@forward "newsList";
@forward "pagination";