@use "../foward" as *;
footer {
  margin-top: auto;
  padding-top: 4em;
  padding-bottom: 2em;

  .pagination {
    position: relative;
    width: 100vw;
    max-width: 100%;
  
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    > div{
      $size: 2em;
      $border-radius: 10px;
  
      font-size: 1.3em;
      font-weight: 600;
      width: $size;
      height: $size;
      text-align: center;
      line-height: $size;
      background-color: #ffffff1a;
      border: 1px solid $light-color;
      text-shadow: 1px 1px 2px black;
      cursor: pointer;
  
      &:first-child{
        border-radius: $border-radius 0px 0px $border-radius;
      }
      &:last-child{
        border-radius: 0px $border-radius $border-radius 0px;
      }
      &:only-child{
        border-radius: $border-radius;
      }
  
      &.active{
        background-color: $primary-color;
      }
    }
  }
}